@font-face {
  font-family: 'Roboto';
  src: url(assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: 'Roboto Italic';
  src: url(assets/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --dark-gray-1: hsl(240, 13%, 15%);
  --dark-gray-2: hsl(240, 13%, 30%);
}